.app-flag-bg {
	background-image: url("../img/auxiliar/tag_rr.png");
	background-size: 100% 100%;
	background-position: center center;
    color: white;
}

.app-purple-bottom-border {
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #4f2c6c;
}

.app-header img {
    width: 100%;
}

/* https://stackoverflow.com/questions/24075222/how-can-i-change-the-bootstrap-default-font-family-using-font-from-google*/
.app-text-font-family_elsie {
    font-family: 'Elsie Swash Caps', sans-serif !important;
}

.app-dark-purple {
    color: white;
    background-color: #150426;
}

body {
    font-family: 'Cutive Mono', sans-serif !important;
}

.app-card-name {
    font-size: 1.6rem;
}

/* Source - https://stackoverflow.com/a
Posted by joshmoto, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-08, License - CC BY-SA 4.0 */

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

@media (min-width: 576px) {
    .app-card-name {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
  .app-card-name {
      font-size: 3.5rem;
  }
}